//
   Created by lanou on 16/9/19.
doctype
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="../css/public.css")
        link(rel="stylesheet" type="text/css" href="../css/courselist.css")
        link(rel="shortcut icon" type="image/x-icon" href="../images/min_logo.png")
        title Unity3D
    body
        div(style="display:none")
        div.header
            div.header
                div.minWidth
                    div.log
                        a(href="http://www.lanou3g.com/")
                            img(src="../images/log.png")
                        span
                            img(src="../images/113200.png")
                    div.nav
                        ul
                            li
                                a.on(href="#") 课程
                            li
                                a(href="#") 学习指导
                            li
                                a(href="#") 企业招聘
                            li
                                a(href="#") 互联网头条
                        p
                            a(href="#") +提问
                    div.loginregister
                        a(href="login.html" target="_self")#login 登录
                        i
                        a(href="login.html" target="_self") 注册
        div.main
            div.minWidth
                div.curriculum
                    div.curriculum_top
                        img(src="../images/curriculum.png")
                        div.curriculum_cent
                            h2 unity3D基础课程A段项目
                            div.classhour
                                p 总课时
                                span
                                    strong 365天
                            div.time
                                p 标准学习时间
                                 span
                                    strong 90天
                            div.share
                                a.share_btn 分享
                            div.software
                                img(src="../images/still-more.png")
                            div.software_1
                                img(src="../images/Space.png")
                            div.software_2
                                img(src="../images/Microblog.png")
                            div.software_3
                                img(src="../images/Twitter.png")
                            div.software_4
                                img(src="../images/WeChat.png")

                    div.classschedule
                        div.classschedule_cont
                            div.chedule
                                div.numberofdays
                                    em
                                    p 1天
                                i 5节课(10天)
                                i 10节课(20天)
                                i 15节课(30天)
                                i 30节课(60天)
                                i 30节课(60天)

                    div.courseplaylist
                        div.courseplaylist_left
                            div
                                div.title
                                    span 第1课
                                    p.jen 下载并安装MonoDevelop
                                P.courseplaylist_cont
                                    em
                                    span 本节课我们主要学习下载安装Unity 和 MonoDevelop，并会创建并第一个 C# 工程运行
                                    a(href="#" target="_self" ) 开始学习
                                    i (13'40")
                            div
                                div.title
                                    span 第2课
                                    p.jen C# 编译过程
                                P.courseplaylist_cont
                                    em
                                    span 本节课我们主要了解一下 C# 的编译过程，还会掌握语句的概念以及注释的用法
                                    a(href="#" target="_self" ) 开始学习
                                    i (20'5")
                            div
                                div.title
                                    span 第3课
                                    p.jen 二进制
                                P.courseplaylist_cont
                                    em
                                    span 本节课我们主要了解二进制的意义，以及二进制和十进制得相互转换，还会了解八进制、十六进制
                                    a(href="#" target="_self") 开始学习
                                    i (20'44")
                            div
                                div.title
                                    span 第4课
                                    p.jen 变量和常量
                                P.courseplaylist_cont
                                    em
                                    span 本节课我们主要学习变量的声明和初始化，以及常量的使用
                                    a(href="#" target="_self") 开始学习
                                    i (22'3")
                            div
                                div.title
                                    span 第5课
                                    p.jen 基本数据类型
                                P.courseplaylist_cont
                                    em
                                    span 本节课我们主要学习 C# 中常用的数据类型，包括整型、浮点型、字符串等类型
                                    a(href="#" target="_self") 开始学习
                                    i (16'15")
                            div
                                div.title
                                    span 第6课
                                    p.jen 运算符和表达式
                                P.courseplaylist_cont
                                    em
                                    span 本节课我们主要学习 C# 中的基本运算符，以及运算符的优先级和结合性，还会了解表达式的概念
                                    a(href="#" target="_self") 开始学习
                                    i (24'11")
                            div
                                div.title
                                    span 第7课
                                    p.jen 类型转换
                                P.courseplaylist_cont
                                    em
                                    span 本节课我们主要学习不同类型之间的相互转换，包括自动转换和强制转换
                                    a(href="#" target="_self") 开始学习
                                    i (21'22")
                        div.courseplaylist_right
                            div
                                div.courseplaylist_right_tile 正在学习的用户
                                div.courseplaylist_right_cont
                                    div.table_title
                                        p.classname 班级名
                                        p.username 用户名
                                        p.fraction 分数
                                    div.table_cont
                                        p.classnamecon A1020
                                        p.usernamecon 飞翔的企鹅
                                        p.fractioncon 98
                                    div.table_cont
                                        p.classnamecon B2021
                                        p.usernamecon 教育咨询
                                        p.fractioncon 100
                                    div.table_cont
                                        p.classnamecon C1022
                                        p.usernamecon 安静
                                        p.fractioncon 98
                                    div.table_cont
                                        p.classnamecon D1023
                                        p.usernamecon 兔子的胡
                                        p.fractioncon 98
                                    div.table_cont
                                        p.classnamecon A1024
                                        p.usernamecon 飞翔的企鹅教育
                                        p.fractioncon 98
                                    div.table_cont
                                        p.classnamecon C1025
                                        p.usernamecon 教育咨询
                                        p.fractioncon 100
                                    div.table_cont
                                        p.classnamecon B1026
                                        p.usernamecon 安静
                                        p.fractioncon 98
                                    div.table_cont
                                        p.classnamecon D1027
                                        p.usernamecon 兔子的胡
                                        p.fractioncon 98
        div.footer
            div.minWidth
                div.friendshiplink
                    h2 友情链接
                    p
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                    a.more(href="#" target="_self") 更多
                div.morelinks
                    ul
                        h3 我们的实验室
                        li
                            a(href="#" target="_self") 在线编程
                        li
                            a(href="#" target="_self") 奖学制度
                        li
                            a(href="#" target="_self") 在线班级
                        li
                            a(href="#" target="_self") 课后60分钟考试
                    ul
                        h3 关于我们
                        li
                            a(href="#" target="_self") 精英吧简介
                        li
                            a(href="#" target="_self") 联系我们
                        li
                            a(href="#" target="_self") 加入我们
                    ul
                        h3 现有课程
                        li
                            a(href="#" target="_self") IOS
                        li
                            a(href="#" target="_self") Android
                        li
                            a(href="#" target="_self") unity3D
                        li
                            a(href="#" target="_self") H5
                    ul
                        h3 帮助
                        li
                            a(href="#" target="_self") 联系客服
                        li
                            a(href="#" target="_self") 版权声明
                        li
                            a(href="#" target="_self") 法律声明
                        li
                            a(href="#" target="_self") 服务条款
                    ul.feedback
                        h3 反馈方式
                        li
                            a(href="#") 电子邮箱：help@xxxxx.com
                        li
                            a(href="#") 微信反馈：精英吧微信公众号
                        img(src="../images/jyb_code.jpg")
                    div.appcode
                        h3 精英吧APP扫描下载
                        img(src="../images/app_code.png")
                        span （扫码下载）
            div.companyname
                span 蓝鸥科技有限公司©1997-2016 |
                span.lanou 北京市海淀区清河毛纺路路南甲36号金五星商业大厦5层










