//
   Created by lanou on 16/9/13.
doctype
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="../css/public.css")
        link(rel="stylesheet" type="text/css" href="../css/index.css")
        link(rel="shortcut icon" type="image/x-icon" href="../images/min_logo.png")
        title 精英吧
    body
        div(style="display:none")
        div.header
            div.header
                div.minWidth
                    div.log
                        a(href="http://www.lanou3g.com/")
                            img(src="../images/log.png")
                        span
                            img(src="../images/113200.png")
                    div.nav
                        ul
                            li
                                a.on(href="#") 课程
                            li
                                a(href="#") 学习指导
                            li
                                a(href="#") 企业招聘
                            li
                                a(href="#") 互联网头条
                        p
                            a(href="#") +提问
                    div.loginregister
                        a(href="login.html" target="_self")#login 登录
                        i
                        a(href="login.html" target="_self") 注册
        div.main
            div.minWidth
                div.bannerlogin
                    div.banner
                        ul.banner_cont
                            li.on
                                a(href="#" target="_self")
                                    img(src="../images/banner.png")
                            li(style="display: none")
                                a(href="#" target="_self")
                                    img(src="../images/banner2.png")
                            li
                                a(href="#" target="_self")
                                    img(src="../images/banner3.png")
                        ul.banner_list
                            li.on
                            li
                            li
                    div.personalinfor
                        div.personalinfor_top
                            a(href="#").hader_img
                                img(src="../images/headportrait_bg.png")
                            p Hi，您好！
                                span 欢迎来到精英吧。
                        div.personalinfor_login
                            a(href="login.html").login 登录
                            a(href="login.html").register 注册
                        div.personalinfor_bottom
                            div.personalinfor_bottom_title
                                p 新手入门
                                a(href="#") 了解精英吧 &gt
                            div.personalinfor_bottom_cont
                                div
                                    a(href="#" target="_self")
                                        strong.one
                                        span 1.&nbsp;&nbsp;理论知识
                                div
                                    a(href="#" target="_self")
                                        strong.two
                                        span 2.&nbsp;&nbsp;大牛答疑
                                div
                                    a(href="#" target="_self")
                                        strong.three
                                        span 3.&nbsp;&nbsp;在线评估
                                div
                                    a(href="#" target="_self")
                                        strong.four
                                        span 4.&nbsp;&nbsp;线下实训
                        div.scholarship
                            a(href="#") 奖学
                            a(href="#") 就业
                            a(href="#") 圈子
                div.centbox
                    div
                        a(target="_self")
                            i.centbox1
                            h4 课程学习
                            p 采用在线教学模式，学习理论课程，让你快速完成理论知识的搭建
                    div
                        a(target="_self")
                            i.centbox2
                            h4 学习指导
                            p 不知道该学什么，我们将有在线职业规划师为你进行学习指导
                    div
                        a(target="_self")
                            i.centbox3
                            h4 有问必答
                            p 利用手机通过算法将你的问题推送给老师，一对一为你实时解答
                    div
                        a(target="_self")
                            i.centbox4
                            h4 招聘就业
                            p 我们鼓励学习，学习达标的学员我们向企业推荐
                    div
                        a(target="_self")
                            i.centbox5
                            h4 带你走进互联网
                            p 行业专家为你提供最新最前沿的互联网思维和讯息，快速了解互联网
                div.onlinecourse#aaa(name="aaa")
                    h2.onlinecourse_tilte 精英吧在线课程
                    div.onlinecourse_cont
                        ul
                            li.unity3d
                                a(href="course.html" target="_self")
                                    img(src="../images/unity3D.jpg")
                            li.ios
                                a(href="#" target="_self")
                                    img(src="../images/Ios.jpg")
                            li.android
                                a(href="#" target="_self")
                                    img(src="../images/Android.jpg")
                            li.html5
                                a(href="#" target="_self")
                                    img(src="../images/Html5.jpg")
                            li.expect
                                a(href="#" target="_self")
                                    img(src="../images/qidai.jpg")
                div.learningstyle
                    h2.learningstyle_title 不一样的学习方式：你学习的不仅仅是技能
                    div.learningstyle_cont
                        div
                            img(src="../images/learningstyle_ico1.png")
                            span 同学一起学
                            p 精准的算法，让你在学习的道路上不孤单，和志同道合，能力相当的同学为伴一起在学习的路上打怪升级，刷副本。
                        div
                            img(src="../images/learningstyle_ico2.png")
                            span 学习顾问指引
                            p 贴心的学习顾问，当你遇到困难，学习动力不足，对学习方向和未来迷茫，出手相助。
                        div
                            img(src="../images/learningstyle_ico3.png")
                            span 奖学制度
                            p 每个时代都需要天才，但是也需要勤奋刻苦的人才，对，就是你，你学的好，我们就要奖励你，我们要助推你成为社会的精英。
                        div
                            img(src="../images/learningstyle_ico4.png")
                            span 有问必答
                            p 遇到困难不要怕，上千名认证专家在线支持答疑，只要你提问，我们就回答。
                div.learninguser
                    div.learninguser_title
                      h2 目前我们共有超过 注册学习用户
                        span 30000
                      p 目前已经有超过259名学生获得奖学金
                div.learninguser_cont
                    div
                        img(src="../images/learninguser1.png")
                        span 账户名称
                        sapn Android基础课
                        span 综合分数91
                        span
                        p 奖学金
                        h3 3000元
                    div
                        img(src="../images/learninguser2.png")
                        span 账户名称
                        sapn Android基础课
                        span 综合分数91
                        span
                        p 奖学金
                        h3 2000元
                    div
                        img(src="../images/learninguser3.png")
                        span 账户名称
                        sapn Android基础课
                        span 综合分数91
                        span
                        p 奖学金
                        h3 1000元
                    div
                        img(src="../images/learninguser4.png")
                        span 账户名称
                        sapn Android基础课
                        span 综合分数91
                        span
                        p 奖学金
                        h3 800元
                    div.last
                        img(src="../images/learninguser5.png")
                        span 账户名称
                        sapn Android基础课
                        span 综合分数91
                        span
                        p 奖学金
                        h3 500元
                div.cooperation
                    H2.cooperation_title 合作机构
                        div.cooperation_cont
                            div.cooperation_cont_box
                                ul.lun
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation1.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation2.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation3.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation4.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation5.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation6.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation7.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation8.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation9.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation10.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation1.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation2.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation3.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation4.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation5.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation6.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation7.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation8.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation9.png")
                                    li
                                        a(href="#" target="_blank")
                                            img(src="../images/cooperation10.png")
                            span.cooperation_left
                            sapn.cooperation_right
                div.upward(style="right: -4px;")
                    div.publicnumber
                        a(href="#" target="_self")
                            img(src="../images/publicnumber.png")
                            sapn 公众号
                        div.publicno
                            img(src="../images/1132001.png")
                    div.investigation
                        a(href="#" target="_self")
                            img(src="../images/questionnaire.png")
                            sapn 调查问卷
                    div.message
                        a(href="#" target="_self")
                            img(src="../images/message.png")
                            span 在线留言
                    a(onclick="pageScroll()")
                        div.returntotop
                div.friendshiplink
                    h2 友情链接
                    p
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                    a(href="LinkExchange.html" target="_blank").more 更多
                div.morelinks
                    ul
                        h3 我们的实验室
                        li
                            a(href="#" target="_self") 在线编程
                        li
                            a(href="#" target="_self") 奖学制度
                        li
                            a(href="#" target="_self") 在线班级
                        li
                            a(href="#" target="_self") 课后60分钟考试
                    ul
                        h3 关于我们
                        li
                            a(href="#" target="_self") 精英吧简介
                        li
                            a(href="#" target="_self") 联系我们
                        li
                            a(href="#" target="_self") 加入我们
                    ul
                        h3 现有课程
                        li
                            a(href="#" target="_self") ios
                        li
                            a(href="#" target="_self") Android
                        li
                            a(href="#" target="_self") unity3D
                        li
                            a(href="#" target="_self") H5
                    ul
                        h3 帮助
                        li
                            a(href="#" target="_self") 联系客服


                        li
                            a(href="#" target="_self") 版权声明
                        li
                            a(href="#" target="_self") 法律声明
                        li
                            a(href="#" target="_self") 服务条款
                    ul
                        h3 反馈方式
                        li
                            a(href="#" target="_self") 电子邮箱:help@xxxxx.com
                        li
                            a(href="#" target="_self") 微信反馈:精英吧微信公众号
                            img(src="../images/jyb_code.jpg")
                    div.appcode
                        h3 口袋精英app



                        img(src="../images/app_code.png")
                        span (扫码下载)
                div.companyname
                    span 蓝鸥科技有限公司©1997-2016 |
                    sapn
                        a(href="#" target="_blank").lanou 北京市海淀区清河毛纺路路南甲36号金五星商业大厦5层
script(src="../js/index.js")
