//
   Created by lanou on 16/9/18.
doctype
html
    meta(charset="utf-8")
    title 友情链接
    link(rel="stylesheet" type="text/css" href="../css/public.css")
    link(rel="stylesheet" type="text/css" href="../css/link.css")
body
    div.main
        div.minWidth
            div.partner
                div.partner_title 合作伙伴
                ul
                    li
                        img(src="../images/cooperation1.png")
                    li
                        img(src="../images/cooperation2.png")
                    li
                        img(src="../images/cooperation3.png")
                    li
                        img(src="../images/cooperation4.png")
                    li
                        img(src="../images/cooperation5.png")
                    li
                        img(src="../images/cooperation6.png")
                    li
                        img(src="../images/cooperation7.png")
                    li
                        img(src="../images/cooperation8.png")
                    li
                        img(src="../images/cooperation9.png")
                    li
                        img(src="../images/cooperation10.png")
                    li
                        img(src="../images/cooperation7.png")
                    li
                        img(src="../images/cooperation8.png")
                    li
                        img(src="../images/cooperation4.png")
                    li
                        img(src="../images/cooperation5.png")
            div.link
                div.link_title 友情链接
                div.link_cont
                    a(href="#" target="_blank") IT教育网
                    a(href="#" target="_blank") 中国大学生实习网
                    a(href="#" target="_blank") QQ浏览器
                    a(href="#" target="_blank") QQ音乐
                    a(href="#" target="_blank") 微信支付
                    a(href="#" target="_blank") 微信连连看
                    a(href="#" target="_blank") 腾讯大学
                    a(href="#" target="_blank") 腾讯开放平台
                    a(href="#" target="_blank") 腾讯新闻客户端
                    a(href="#" target="_blank") 腾讯电脑管家
                    a(href="#" target="_blank") 淘宝
                    a(href="#" target="_blank") 辽宁工程技术大学
                    a(href="#" target="_blank") IT教育网
                    a(href="#" target="_blank") 中国大学生实习网
                    a(href="#" target="_blank") QQ浏览器
                    a(href="#" target="_blank") QQ音乐
                    a(href="#" target="_blank") 微信支付
                    a(href="#" target="_blank") 微信连连看
                    a(href="#" target="_blank") 腾讯大学
                    a(href="#" target="_blank") 腾讯开放平台
                    a(href="#" target="_blank") 腾讯新闻客户端
                    a(href="#" target="_blank") 腾讯电脑管家
                    a(href="#" target="_blank") 淘宝
                    a(href="#" target="_blank") 辽宁工程技术大学
                    a(href="#" target="_blank") IT教育网
                    a(href="#" target="_blank") 中国大学生实习网
                    a(href="#" target="_blank") QQ浏览器
                    a(href="#" target="_blank") QQ音乐
                    a(href="#" target="_blank") 微信支付
                    a(href="#" target="_blank") 微信连连看
                    a(href="#" target="_blank") 腾讯大学
                    a(href="#" target="_blank") 腾讯开放平台
                    a(href="#" target="_blank") 腾讯新闻客户端
                    a(href="#" target="_blank") 腾讯电脑管家
                    a(href="#" target="_blank") 淘宝
                    a(href="#" target="_blank") 辽宁工程技术大学
                    a(href="#" target="_blank") IT教育网
                    a(href="#" target="_blank") 中国大学生实习网
                    a(href="#" target="_blank") QQ浏览器
                    a(href="#" target="_blank") QQ音乐
                    a(href="#" target="_blank") 微信支付
                    a(href="#" target="_blank") 微信连连看
                    a(href="#" target="_blank") 腾讯大学
                    a(href="#" target="_blank") 腾讯开放平台
                    a(href="#" target="_blank") 腾讯新闻客户端
                    a(href="#" target="_blank") 腾讯电脑管家
                    a(href="#" target="_blank") 淘宝
                    a(href="#" target="_blank") 辽宁工程技术大学
                    a(href="#" target="_blank") IT教育网
                    a(href="#" target="_blank") 中国大学生实习网
                    a(href="#" target="_blank") QQ浏览器
                    a(href="#" target="_blank") QQ音乐
                    a(href="#" target="_blank") 微信支付
                    a(href="#" target="_blank") 微信连连看
                    a(href="#" target="_blank") 腾讯大学
                    a(href="#" target="_blank") 腾讯开放平台
                    a(href="#" target="_blank") 腾讯新闻客户端
                    a(href="#" target="_blank") 腾讯电脑管家
                    a(href="#" target="_blank") 淘宝
                    a(href="#" target="_blank") 辽宁工程技术大学
                    a(href="#" target="_blank") IT教育网
                    a(href="#" target="_blank") 中国大学生实习网
                    a(href="#" target="_blank") QQ浏览器
                    a(href="#" target="_blank") QQ音乐
                    a(href="#" target="_blank") 微信支付
                    a(href="#" target="_blank") 微信连连看
                    a(href="#" target="_blank") 腾讯大学
                    a(href="#" target="_blank") 腾讯开放平台
                    a(href="#" target="_blank") 腾讯新闻客户端
                    a(href="#" target="_blank") 腾讯电脑管家
                    a(href="#" target="_blank") 淘宝
                    a(href="#" target="_blank") 辽宁工程技术大学

    div.footer
        div.minWidth
            div.friendshiplink
                h2 友情链接
                p
                    a(href="#" target="_blank") 蓝鸥科技
                    a(href="#" target="_blank") 蓝鸥科技
                    a(href="#" target="_blank") 蓝鸥科技
                    a(href="#" target="_blank") 蓝鸥科技
                    a(href="#" target="_blank") 蓝鸥科技
                    a(href="#" target="_blank") 蓝鸥科技
                    a(href="#" target="_blank") 蓝鸥科技
                    a(href="#" target="_blank") 蓝鸥科技
                a.more(href="#" target="_self") 更多
            div.morelinks
                ul
                    h3 我们的实验室
                    li
                        a(href="#" target="_self") 在线编程
                    li
                        a(href="#" target="_self") 奖学制度
                    li
                        a(href="#" target="_self") 在线班级
                    li
                        a(href="#" target="_self") 课后60分钟考试
                ul
                    h3 关于我们
                    li
                        a(href="#" target="_self") 精英吧简介
                    li
                        a(href="#" target="_self") 联系我们
                    li
                        a(href="#" target="_self") 加入我们
                ul
                    h3 现有课程
                    li
                        a(href="#" target="_self") IOS
                    li
                        a(href="#" target="_self") Android
                    li
                        a(href="#" target="_self") unity3D
                    li
                        a(href="#" target="_self") H5
                ul
                    h3 帮助
                    li
                        a(href="#" target="_self") 联系客服
                    li
                        a(href="#" target="_self") 版权声明
                    li
                        a(href="#" target="_self") 法律声明
                    li
                        a(href="#" target="_self") 服务条款
                ul.feedback
                    h3 反馈方式
                    li
                        a(href="#") 电子邮箱：help@xxxxx.com
                    li
                        a(href="#") 微信反馈：精英吧微信公众号
                    img(src="../images/jyb_code.jpg")
                div.appcode
                    h3 精英吧APP扫描下载
                    img(src="../images/app_code.png")
                    span （扫码下载）
        div.companyname
            span 蓝鸥科技有限公司©1997-2016 |
            span.lanou 北京市海淀区清河毛纺路路南甲36号金五星商业大厦5层



