//
   Created by lanou on 16/9/19.
doctype
html
    head
        meta(charset="utf-8")
        title 新手入门
        link(rel="stylesheet" type="text/css" href="../css/public.css")
        link(rel="stylesheet" type="text/css" href="../css/beginner.css")
    body
        div.header
            div.header
                div.minWidth
                    div.log
                        a(href="#")
                            img(src="../images/log.png")
                        span
                            img(src="../images/113200.png")
                    div.nav
                        ul
                            li
                                a(href="#") 首页
                            li
                                a(href="#") 课程点播
                            li
                                a(href="#") 互联网头条
                        p
                            em
                            a(href="#") 提问
                    div.loginsuccess
                        img(src="../images/headportrait2.png")
                        a(href="#" target="_self") 个人中心
                        div(style="display:none;")
                            ul
                                li
                                    a(href="#") 账号设置
                                li
                                    a(href="#") 我是在校生
                                li
                                    a(href="#") 我的订单
                                li
                                    a(href="#") 退出


        div.main
            div.minWidth
                div.beginner
                    div.beginner_left
                        p 目录
                        ul
                            li.on 什么是精英吧
                            li 在线学习
                            li 在线编程
                            li 课后小测验
                            li 圈子聚会
                            li 奖学制度
                            li 专家一对一答疑
                            li 在线评估
                            li 线下实训
                            li 企业招聘就业
                    div.beginner_right#beginner_right0
                        div.beginner_right_cont
                            div.beginner_right_cont_title 引燃了秒拍和小咖秀之后，移动直播会不会是下一场狂欢？
                            div.beginner_cont
                                p 题图是今年5月，英国凯特王妃产子，CNN 皇家记者 Max Foster 通过手机直播 App—Periscope 与无数关注英国皇室的网友实时互动，并直播威廉王子和凯特王妃如何带着小公主夏洛特离开圣玛丽医院。
                                img(src="../images/NewEntry.png")
                                p 而现在，这股移动端视频直播的风潮也渐渐吹到了国内。
                                p 11月24日，秒拍、小咖秀的母公司 “一下科技” 宣布，已完成由新浪微博领投，红杉资本、韩国 YG 娱乐等知名投资机构跟投的 2 亿美元 D 轮融资。本次融资后，“一下科技” 估值超过 10 亿美元。
                                p 如果说，去年九月拿到新浪、Star VC 和 KPCB 投的 C 轮投资的时候，秒拍还在努力培养 4G 环境下人们的短视频习惯，一年之后，他们已经确定下一个爆点一定会是移动端直播平台。“一下科技” 将把此轮一半的融资投入到开发视频直播领域，在已有的秒拍和小咖秀基础上，打通短视频、微博和直播的关系。用户可以通过直播 App 发起直播，在 App 或微博上观看和互动。在未来的直播产品中，用户可以直接在微博的信息流内观看直播并交互，而无须跳到第三方页面，秒拍和微博的交互数据将完全打通。
        div.footer
            div.minWidth
                div.friendshiplink
                    h2 友情链接
                    p
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                        a(href="#" target="_blank") 蓝鸥科技
                    a.more(href="#" target="_self") 更多
                div.morelinks
                    ul
                        h3 我们的实验室
                        li
                            a(href="#" target="_self") 在线编程
                        li
                            a(href="#" target="_self") 奖学制度
                        li
                            a(href="#" target="_self") 在线班级
                        li
                            a(href="#" target="_self") 课后60分钟考试
                    ul
                        h3 关于我们
                        li
                            a(href="#" target="_self") 精英吧简介
                        li
                            a(href="#" target="_self") 联系我们
                        li
                            a(href="#" target="_self") 加入我们
                    ul
                        h3 现有课程
                        li
                            a(href="#" target="_self") IOS
                        li
                            a(href="#" target="_self") Android
                        li
                            a(href="#" target="_self") unity3D
                        li
                            a(href="#" target="_self") H5
                    ul
                        h3 帮助
                        li
                            a(href="#" target="_self") 联系客服
                        li
                            a(href="#" target="_self") 版权声明
                        li
                            a(href="#" target="_self") 法律声明
                        li
                            a(href="#" target="_self") 服务条款
                    ul.feedback
                        h3 反馈方式
                        li
                            a(href="#") 电子邮箱：help@xxxxx.com
                        li
                            a(href="#") 微信反馈：精英吧微信公众号
                        img(src="../images/jyb_code.jpg")
                    div.appcode
                        h3 精英吧APP扫描下载
                        img(src="../images/app_code.png")
                        span （扫码下载）
            div.companyname
                span 蓝鸥科技有限公司©1997-2016 |
                span.lanou 北京市海淀区清河毛纺路路南甲36号金五星商业大厦5层












